
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans Condensed', sans-serif;
}

.progress{
  margin: 10px;
}

/* The arrow - View navigation */
@-webkit-keyframes rightarrow {
    0% { -webkit-transform: translateX(0); opacity: 0.4 }
    100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
  }

  .arrow {
      position: fixed;
    border-color:transparent;
    border-style:solid;
    border-width:2em;
    display:block;
    height:0;
    margin: 10px;
    opacity:0.4;
    text-indent:-9999px;
    transform-origin: 50% 50%;
    width:0;
    z-index: 25664;
  }

  .right {
    -webkit-animation: rightarrow 0.6s infinite alternate ease-in-out ;
    border-left:2em solid #003300;
  }

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 25; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #003300; /* Green*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 120px;
    opacity: 0.8;
  }
  
  .social a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    color: white;
    text-decoration: none;
    text-decoration-line: underline;
  }

  footer a{
    color: #003300;
    text-decoration: none;
  }

  footer a:hover{
    color: #000;
    text-decoration: none;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #000;
    opacity: 1;
    font-weight: bolder
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  a{
    color: #003300;
    text-decoration: none;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  @media screen and (min-width: 450px) {
    #main {
      transition: margin-left .5s;
      padding: 2px;
    }
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* The page - Content */
  .home{
      width: 100%;
      height: 100%;
      /* background-color: #4c8c4a; */
  }
  .social-links{
      background-color: #003300;
      margin-top: 10px;
      padding: 10px;
      margin-bottom: 50px;
  }
  h1{
      color:  #003300;
      font-size: 7vw;
      font-weight: bolder;
      padding: 20% 0 10% 0;
      text-transform: uppercase;
      text-align: center;
  }
  h2{
    color:  #003300;
      font-size: 4vw;
      font-weight: bold;
      padding: 5% 0 3% 0;
      text-transform: uppercase;
    
  }
  h3{
    color: #4c8c4a ;
      font-size: 3vw;
      font-weight: bold;
      padding:0;
      text-transform: uppercase;
  }
  h4{
    color: #000 ;
      font-size: 3vw;
      font-weight: bold;
      padding:0;
      text-transform: uppercase;
      opacity: 0.8;
  }
  h6{
    color: #4c8c4a;
    font-size: 3vw;
    padding-bottom: 3%;
  }
  i{
      padding: 6px;
  }
  .social{
      padding: 10px;
      text-align: center;
      color: white;
  }
  .theme-color{
    color: #003300;
  }
  .date,.location{
    text-align: right;
    margin: 10px;
    font-size: 20px;
  }

  .item{
    padding-bottom: 5%;
  }

  .home-img-bottom img{
    padding-top: 12%;
    padding-bottom: 1%;
    padding-left: 3%;
    float: right;
  }

  .home-img-top{
    visibility: hidden;
    display: none;
  }

.skills, .awards{
  padding-top: 5%;
  padding-bottom: 5%;
}

.print-download{
  margin: 15px;
  padding: 10px;
}

  @media screen and (max-width: 1200px) and (min-width: 800px) {
    .home-img-top{
      visibility: hidden;
      display: none;
    }

    .home-img-bottom img{
      padding-top: 5%;
      padding-bottom: 1%;
      padding-left: 3%;
      /* float: right; */
      visibility: visible;
      display: block;
    }
  }

  @media screen and (max-width: 799px) {
    .home-img-top{
      visibility: visible;
      display: block;
    }
    .home-img-top img{
      padding-top: 3%;
      padding-bottom: 1%;
      padding-left: 3%;
    }
    .home-img-bottom img{
      visibility: hidden;
      display: none;
    }

    h1{
      text-align: center;
      color:  #003300;
      font-size: 10vw;
      font-weight: bolder;
      padding: 7% 0 8% 0;
  }
  h2{
    color:  #003300;
      font-size: 10vw;
      font-weight: bold;
      padding: 5% 0 3% 0;
      text-transform: uppercase;
    
  }
  h3{
    color: #4c8c4a ;
      font-size: 6vw;
      font-weight: bold;
      padding:0;
      text-transform: uppercase;
  }
  h4{
    color: #000 ;
      font-size: 5vw;
      font-weight: bold;
      padding:0;
      text-transform: uppercase;
      opacity: 0.8;
  }
  h6{
    color: #4c8c4a;
    font-size: 5vw;
    padding-bottom: 3%;
  }

  .date{
    float: left;
  }
  .location{
    float: right;
  }

  }